<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Assignment3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="src/electionApp.js"></script>
</head>

<body>
    <section id="app">
        <div id="input">
            <h1>Election App</h1>
            <!-- <select id="name" v-model="newTitle">
                <option disabled value="">Select Party Vote</option>
                <option>National</option>
                <option>Labour</option>
                <option>Green</option>
            </select> -->
            <input id="name" v-model="newTitle" placeholder="Insert Party vote here"></input>
            <input id="age" v-model="newAge" placeholder="What is your age?"></input>
            <input id="add" type="button" value="add"  v-on:click="addVote"></input>
            <input id="name" v-model="targetVoteTitle" placeholder="Insert Party vote to remove"></input>
            <input id="remove" type="button" value="Delete"  v-on:click="deleteVote"></input>
            <input id="save" type="button" value="Save"  v-on:click="saveData"></input>
            <input id="load" type="button" value="Load"  v-on:click="loadData"></input>
           
        </div>
        <output id="output"  v-if="hasVotes">
        <ul>
            <li v-for="vote in getVotes()">{{vote.title}} voter age {{vote.age}} voter id {{vote.id}}</li>
        </ul>
        </output>
        <p>Total Votes: {{ count }}</p>
        <input id="sort" type="button" value="Sort Ascending"  v-on:click="sortVotesAsc"></input>
        <input id="sort" type="button" value="Sort Descending"  v-on:click="sortVotesDec"></input>
        <br><br>
        
        <h3>Filter by</h3>
        <input id="filter" type="button" value="Age 18-25" v-on:click="filterAgeYoung"></input>
        <input id="filter" type="button" value="National votes" v-on:click="filterParty"></input>
        <input id="filter" type="button" value="No filter" v-on:click="removeFilter"></input>
        <br><br>
        <input id="calc" type="button" value="Calculate Average Age" v-on:click="getAverage"></input>
        <p>The average age of the voters is {{average}}</p>
    </section>

    <script>
        var app = new Vue ({ //eslint-disable-line no-unused-vars, no-undef
        el: '#app',
        data: {
            newTitle: '',
            newAge: '',
            newId: '',
            count: 0,
            average: 0,
            targetVoteTitle: '',
            hasVotes: false,
            theBallot: new Ballot()
        },
        methods: {
            addVote: function () {
                
                if(!Number.isInteger(parseInt(this.newAge))){
                    alert("please enter a number")
                }
                else if(this.newAge > 17){
                    this.theBallot.addVote(this.newTitle, parseInt(this.newAge))
                    this.hasVotes = true
                    this.newTitle = ''
                    this.newAge = ''
                    this.newId = ''
                    this.count = this.theBallot.allMyVotes.length
                }
                else{
                    alert("You're too young to vote, please lie about your age")
                }
                
            },
            getVotes: function () {
                return this.theBallot.filteredVotes
            },
            sortVotesAsc: function(){
                this.theBallot.sortVotesAscending()
            },
            sortVotesDec: function(){
                this.theBallot.sortVotesDec()
            },
            removeFilter: function(){
                getVotes()
            },
            deleteVote: function(){
                this.theBallot.removeVote(this.targetVoteTitle)
            },
            saveData: function() {
                this.theBallot.save()
            },
            loadData: function() {
                this.theBallot.allMyVotes = this.theBallot.load()
                this.theBallot.filteredVotes = this.theBallot.load()
                this.hasVotes = true
                this.count = this.theBallot.allMyVotes.length
            },
            filterAgeYoung: function(){
                this.theBallot.filteredVotes = this.theBallot.allMyVotes.filter(vote => vote.age<26)
            },
            filterParty: function(){
                this.theBallot.filteredVotes = this.theBallot.allMyVotes.filter(vote => vote.title == "National")
            },
            removeFilter: function(){
                this.theBallot.filteredVotes = this.theBallot.allMyVotes
            },
            getAverage: function() {
                this.average = this.theBallot.getAverageAge()
            }
            
        }
    })
    </script>
</body>
</html>
       
    


		

