<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Assignment3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="src/electionApp.js"></script>
</head>

<body>
    <section id="app">
        <div id="input">
            <h1>Election App</h1>
            <!-- <select id="name" v-model="newTitle">
                <option disabled value="">Select Party Vote</option>
                <option>National</option>
                <option>Labour</option>
                <option>Green</option>
            </select> -->

            <input id="name" v-model="newTitle" placeholder="Insert Party vote here"></input>
            <input id="age" v-model="newAge" placeholder="What is your age?"></input>
            <input id="add" type="button" value="add"  v-on:click="addVote"></input>
           
        </div>
        <!--script>console.log(this.allMyVotes)</script-->
        <output id="output"  v-if="hasVotes">
        <ul>
            <li v-for="vote in getVotes()">{{vote.title}} voter age {{vote.age}} voter id {{vote.id}}</li>
        </ul>
        </output>
        <input id="add" type="button" value="sort ^"  v-on:click="sortVotesAsc"></input>
        <input id="add" type="button" value="sort v"  v-on:click="sortVotesDec"></input>
    </section>

    <script>
        var app = new Vue ({ //eslint-disable-line no-unused-vars, no-undef
        el: '#app',
        data: {
            newTitle: '',
            newAge: '',
            newId: '',
            hasVotes: false,
            theBallot: new Ballot()
        },
        methods: {
            addVote: function () {
                this.theBallot.addVote(this.newTitle, this.newAge)
                this.hasVotes = true
                this.newTitle = ''
                this.newAge = ''
                this.newId = ''
            },
            getVotes: function () {
                return this.theBallot.allMyVotes
            },
            sortVotesAsc: function(){
                this.theBallot.sortVotesAscending()
            },
            sortVotesDec: function(){
                this.theBallot.sortVotesDec()
            }
        }
    })
    </script>
</body>
</html>
       
    


		

